[2012-02-28 05:56] carterpage opened #1 "Add to continuous integration server"
- Create profile in CloudBees
- Add hooks to trigger build on commit

[2012-02-28 05:58] carterpage opened #2 "Add support for current unsupported tests"
Currently non-strict checking of a few cases are not supported:
- Array of arrays
- Arrays containing a mix of simple and complex types
- Arrays containing objects that have no unique ID's

Add support for these cases, and update the unit tests.

[2012-02-28 06:00] carterpage opened #3 "Add support for TestNG"
The way this is written, it should be pretty easy to extend it for other frameworks.

[2012-04-04 19:05] #2 closed, assigned to nobody

[2012-04-04 19:06] carterpage opened #5 "Add some tools to further simplify REST interface tests"

[2012-09-12 12:18] hertzsprung opened #12 "Comparing JSON array and JSON object as Strings errors instead of failing"
Just interested why you chose to throw `IllegalArgumentException` when one String is a JSON array and the other is a JSON object.  My preference would be to return a `JSONCompareResult` with the diagnostics.  What do you think?

[2012-09-15 11:12] #12 closed, assigned to nobody

[2012-09-17 16:43] hertzsprung opened #15 "Allow field values to be ignored by specifying a JSON path"
We often have a requirement where we're not interested in the value of a field, but we do care that the field exists.  This might be an autogenerated ID or a timestamp for example.

It would be useful to specify the field(s) as a JSON path expression so that we can be selective in which fields get ignored.

[2012-10-15 19:01] mlilback opened #17 "comparison failing on array of boolean"
I've attached console output from my program. The expect value is what I read from a file, the got value is from the network. They are identical. expectedStr.equals(jsonStr) returns true. JSONAssert.assertEquals() says they aren't equal. This is with version 1.1.0 in my pom.

[code]

[code]

[2012-10-16 16:05] #1 closed, assigned to nobody

[2012-10-16 16:06] #5 closed, assigned to nobody

[2012-10-16 16:09] #17 closed, assigned to nobody

[2012-11-15 23:04] carterpage opened #19 "Add JSONCompareMode to JSONAssert.assertEquals(...)"
For all of the JSONAssert.assertEquals methods, we should further overload them to replace the boolean strict flag with JSONCompareMode like so:

[code]

This will allow for more fine-grained control of the tests.

[2013-01-03 16:47] Aivean opened #21 "Add possibility to override/extend comparison behavior"
Currently all comparison logic resides in JSONCompare utility class. There is no simple way to override or extend it's private static methods. (For example, my problem was in adding custom comparison for arrays with different length).

I suggest to make JSONCompare class some kind of comparator (comparison handler), make it's methods protected and allow JSONAssert to accept custom implementations

[2013-01-26 02:03] derrickburns opened #23 "Fix numerical comparisons"
If a field appears to be an integer, and a double of the same value appears, JsonAssert reports something like:

Values of geo.coordinates[0] have different types: expected java.lang.Integer, but got java.lang.Double ; Values of geo.coordinates[1] have different types: expected java.lang.Integer, but got java.lang.Double

In this case, the value expected value is 0 (an integer) and the given value

[2013-02-22 15:26] jcassee opened #24 "Problem comparing Integer and Long JSONObjects"
In order to test a JSON API I am using JSONAssert. The actual and
expected output are already JSONObject objects, so I am just comparing
them:

[code]

However, one of the properties in the actual object are Longs, while
the created expected object uses Integers. The solution I came up with
is to convert the actual object to a string and use this:

[code]

Possibly related to issue #23.

[2013-03-13 17:28] rodinia814 opened #25 "JSONObject.getLong broken for very large values"
Very large positive or negative long values do not parse correctly.  org.json.JSONObject.getLong() does not handle anything longer than 16 significant decimal digits.  It does not matter if the value is positive or negative, although Long.MAX_VALUE and Long.MIN_VALUE do work. Here's a test snippet to reproduce the problem:

[code]

[2013-03-16 18:46] carterpage opened #26 "Update version of org.json"
As @hertzsprung pointed out, we're running an ages-old version of org.json.  We're looking into helping them update the version they have in maven.  If that doesn't work, we may need to either fork it ourselves, or look at other libraries.  (We chose org.json for it's simplicity and lack of additional dependencies, so we'd like to stick with it if possible.)

[2013-03-17 12:53] #21 closed, assigned to nobody

[2013-03-17 13:49] #24 closed, assigned to carterpage

[2013-03-17 13:50] #23 closed, assigned to carterpage

[2013-03-17 14:16] #19 closed, assigned to carterpage

[2013-09-04 23:46] hansgru opened #37 "More options of what to ignore by assert."
Please add more options of what to be ignored and what not.

At the moment there only seems to be "strict" vs "non-strict" mode. The problem is that in most cases neither is good enough :( . E.g. in the case of sub-arrays, sometimes is the number of elements that's important, other times only that an array is present there (so that the Client code doesn't break), etc.

Since "strict" vs "non-stric

[2014-03-05 16:59] paolodm opened #42 "Add message to JSONAssert"
I would love to be able to include a message to JSONAssert.assertEquals in the beginning of the method invocation:

[code]

[2014-09-24 15:32] francisdb opened #43 "Make it possible to ignore nulls"
I would like to allow this:

[code]

to be equal to

[code]

[2014-10-15 11:14] mirabilos opened #44 "nōn-free json.org code used"
Hi,

my coworkers want to use JSONassert in their project, but (as the person responsible for insisting on proper licences) I need to tell them not to, because your code pulls in code from json.org under Douglas Crockford’s bad licence.

Please replace this; the Debian Wiki page https://wiki.debian.org/qa.debian.org/jsonevil contains background information and a list of alternative implementations

[2014-11-04 12:55] selbekk opened #46 "Feature request: Add support for JSONP"
Our application has both JSON and JSONP strings to verify. Could you please implement support for handling jsonp callbacks as well? I can't imagine it's very difficult, and there's not really any comparable frameworks out there.

[2014-12-04 22:29] ezredd opened #47 "i would like to provide a precision when performing comparison of float/double numbers"
maybe it is possible to do with the current implementation however if that's the case then it would be great to add this as an example in the cookbook ?

thanks a lot anyways for this very nice tool!!

[2015-01-16 11:39] selbekk commented on #46
Bump!

[2015-01-22 12:02] ed0906 opened #48 "NullPointer thrown when expectedJson is null"
JSONAssert.assertEquals(null, "some json string", true) throws a null pointer

Should this be a valid case?

[2015-02-13 14:06] DavidBiesack opened #49 "Fork: Use Jackson instead of org.json"
We have a toolchain based on Jackson; I'd like to use JSONassert with Jackson JSON objects. I've forked the skyscreamer/JSONassert repo and replaced org.json with [FasterXML/jackson-core](https://github.com/FasterXML/jackson-core) and [FasterXML/jackson-databind](https://github.com/FasterXML/jackson-databind).

The biggest hurdle is the unit tests; Jackson is more strict and does not allow unquote

[2015-02-28 23:30] sudhak271 commented on #37
Is this feature available in the latest version?

[2015-03-24 13:03] ittiel commented on #15
Here is a simple example to ignore ALL values
It uses the default comparator with a single change: overriding the compareValues method to do nothing

`
import org.json.JSONException;
import org.skyscreamer.jsonassert.JSONCompareMode;
import org.skyscreamer.jsonassert.JSONCompareResult;
import org.skyscreamer.jsonassert.comparator.DefaultComparator;

//
 // Created by Ittiel on 3/24/15.
 // Json co

[2015-04-13 20:59] sudhak271 commented on #15
The above would not apply for arrays isnt it? In the example above, what if I want friends[0].id to be ignored?

[2015-04-13 21:24] ittiel commented on #15
@sudhak271, You are right, this is an 'all or nothing' solution
Meaning that in the example above - you can either ignore ALL values or not, but not partials compares

You can always override JSONAssertCompareIgnoreValues.compareValues in any way  that fits you.

[2015-04-13 21:32] sudhak271 commented on #15
Thank you for the reply...but still confused. :-)
What are my options, if I want to ignore a field from an array? Eg :  friends[0].id.
For simple fields, I was able to get by fine, by doing something like this :
customization.add(new Customization(fieldToIgnore, ignoreFieldsComparator));
static ValueMatcher<Object> ignoreFieldsComparator = new ValueMatcher<Object>() {

		@Override
		public boolean

[2015-04-13 21:43] ittiel commented on #15
@sudhak271 - I'm just a visitor here who wanted to share a solution that worked for me
I'm sorry that I didn't provide a generic solution.

[2015-05-19 09:17] jmayday commented on #43
When working with some specific class it's possible to annotate it with @JsonInclude(Include.NON_EMPTY) or also prepare own ObjectMapper implementation with Serializers which redefine isEmpty() method to apply even more sophisticated logic. Details described here https://github.com/FasterXML/jackson-databind/issues/730

But it's tricky for me as well to ignore nulls when dealing with raw jsons (th

[2015-05-19 15:34] shahnaazr commented on #15
where are we with the implementation of the field ignore

[2015-06-24 14:59] dhawken opened #51 "JSONCompareResult.getFieldFailures() does not return missing attributes"
If an attribute is missing, the comparison will fail and the field will be returned on the message:
"Expected: <attribute> but none found".

However, this field is not included on the list of field failures from getFieldFailures().

Is this expected?

This is in STRICT mode. The missing() method does not appear to be adding anything to the _fieldFailures list.

[2015-06-24 15:11] dhawken commented on #51
There is a PR to address this: #50

[2015-07-29 16:12] M0rfic opened #52 "Add clearer failure messages"
Hi,

Sometimes the failure message message does not express the issue clearly. For example, comparing  `{"id":"1"}` against `{"id":"1 "}` or `{"id": 1}` yields
[code]

This kept me scratching my head until I realised that there was an extra space or a difference in types. As a quick dirty workaround, I extended the DefaultComparator to also "wrap" the values and print their type:
[code]
which now

[2015-08-04 12:31] javierseixas commented on #15
+1 to the solution proposed by @cepage , something close to what is available in [Json Expressions](https://github.com/chancancode/json_expressions) or [PHP-Matcher](https://github.com/coduo/php-matcher).
With the option of including a kind of type tags for values, we would be able to keep checking the JSON structure in a very readable and intuitive way.

[2015-08-26 10:53] MathieuLorber commented on #42
+1, it would be useful, and is the "standard" api for assertions

[2015-09-01 14:32] raduy opened #54 "Returns true with strict option turned on when different JSON strings given."
I've just noticed that JSONAssert returns true when one json contains another - FIRST contains SECOND. Can you confirm that this is NOT a correct behavior?

Also FIRST is not even a valid JSON.

[code]

Regards,
Łukasz

[2015-09-25 09:13] alexanderkjall opened #55 "Number comparision broken when having decimals"
I have this code:

[code]

And that gives the following error messages:

priceOffers[name=POSTNORD].price.customerPrice.VAT
Expected: 5.20
     got: 5,20
 ; priceOffers[name=POSTNORD].price.customerPrice.exclVAT
Expected: 20.80
     got: 20,80
 ; priceOffers[name=POSTNORD].price.customerPrice.inclVAT
Expected: 26.00
     got: 26,00
 ; priceOffers[name=POSTNORD].price.freightPrice.VAT
Expected: 6.2

[2015-12-13 11:34] rdettai opened #59 "Assertion not failing if actual child object is null"
The following assertion passes but should fail:
[code]

[2015-12-13 11:38] rdettai commented on #59
My bad, I was using an old version!

[2015-12-13 11:38] #59 closed

[2015-12-16 19:44] khoubyari commented on #15
+1 for a partial ignore feature

[2015-12-22 19:51] sdetweil opened #60 "compare failure, complex structure"
I am supporting wildcards (*) (to allow any data in that spot, in particular places in a json document.

I have one where the compare returns confusing info.

source content
[
{
  "commodities":[
       {
              "reason":"initial",
              "merchantComRefId":"Soccer01",
              "quantity":1,
              "recordIndex":2
       }
  ],
  "merchantParcelId":"46545100015600",
  "or

[2015-12-22 19:55] sdetweil commented on #60
code used to call

                    Customization c = new Customization("/", null);
                    def CustomComparator mc = new CaseInsensitiveComparator(JSONCompareMode.LENIENT, c);
                    mc.setLogger(_logger);
                    JSONAssert.assertEquals(test_body,request_body, mc);

[2016-02-24 19:12] FelixQE1 commented on #15
+1 for a partial ignore feature

[2016-03-15 20:58] NadinFarbman opened #63 "there are methods missing in class JSONCompareResult"
Hello,

In your documentation you describe the following methods while they are missing in .jar file: getFieldMissing
 getFieldUnexpected
 getActual
 isMissingOnField

[2016-04-11 21:28] ebourg commented on #49
@DavidBiesack Any chance you could push your Jackson based JSONassert on GitHub? I'd be interested in using a version that doesn't depend on the non-free json.org library.

[2016-04-12 14:43] DavidBiesack commented on #49
@ebourg I'd like the JSONAssert maintainer to answer my question as to how/where the fork should go, here as a PR or branch, or elsewhere. Have not heard anything in 14 months, tho...

[2016-04-15 22:46] sawyercade commented on #15
+1 for a partial ignore feature

[2016-04-27 19:19] praveen133t commented on #15
I implemented something. I'll post it. It works for me

[2016-05-12 14:21] jgoldhammer commented on #49
+1 for changing it...

[2016-06-06 18:59] adityagautam opened #64 "JsonAssert.assertEquals Faliure"
Error that I am getting:
While the values of both the strings are same. but still assertion is failing.
Expected: a JSON object but none found

Code:
JSONParser parser = new JSONParser();
        try

[code]

JSONAssert.assertEquals(abc,abcd,false);

[2016-06-20 14:53] sdetweil opened #65 "AssertEquals doesn't report all errors for elements in arrays."
this is an element in an anonymous structure inside an array

model
{
  "provisioningType": "OEM",
  "productId": "MIPro",
  "contacts": [{
    "role": "Subscription_Admin",
    **"email": *em,
    "firstName": *,
    "lastName": *,**
    **"displayName": *,**
    "locale": "en_US",
    **"companyName": ***
  }],
  "pbPlanIds": [*],
  "productSpecificData": [
    {
      "name": "SerialNumber",

[2016-06-21 16:07] sdetweil commented on #65
if I use Strict_Order mode, then all the errors are reported.. but I cannot force my users to supply documents in same order all the time.

[2016-06-23 17:44] sdetweil commented on #60
i have found and fixed this problem in the 1.3.0 release..

[2016-06-23 17:44] #60 closed

[2016-06-23 17:45] sdetweil commented on #65
I have found and fixed this problem in the 1.3,0 release..

[2016-06-23 17:45] #65 closed

[2016-07-12 15:14] puntogil commented on #49
hi
any new aboutremovel o non free json.org?
as reported in https://github.com/skyscreamer/JSONassert/issues/44 all linux distribution can't use Your library (Fedora in my case)
thanks in advance

[2016-07-12 18:30] DavidBiesack commented on #44
@mirabilos The cited android library https://android.googlesource.com/platform/libcore/+/master/json appears to be GPL. Although as of today that Git repo has a file named "MODULE_LICENSE_BSD_LIKE" that file is empty (thus not very BSD like at all) and the parent https://android.googlesource.com/platform/libcore/+/master has a LICENSE file which is GPL Version 2.

[2016-07-12 21:01] mirabilos commented on #44
David Biesack dixit:

No, that’s not how Android’s way of tagging licences works.
They use the following schema:

Any module that has some sort of licence has one of those
“MODULE_LICENSE_*” files in it. They are empty unless in
special cases, they are merely used as “tags”.

The licence of a piece of code is not determined by the
presence of some licence in some other directory anyway
but by the

[2016-07-12 21:40] DavidBiesack commented on #44
Ahh, thanks for clearing that up.

[2016-07-13 15:48] DavidBiesack commented on #44
http://search.maven.org/#artifactdetails%7Ccom.vaadin.external.google%7Candroid-json%7C0.0.20131108.vaadin1%7Cjar is an Apache 2.0 clean room implementation of org.json
(only missing the org.json.JSONString interface). Switching to that works. I'll try to submit a pull request.

[2016-07-13 16:01] mirabilos commented on #44
David Biesack dixit:

That’s precisely what we used in one of our projects, yes.

        <json.version>0.0.20131108.vaadin1</json.version>

        <dependency>
            <groupId>com.vaadin.external.google</groupId>
            <artifactId>android-json</artifactId>
            <version>${json.version}</version>
        </dependency>

OK, thanks!

bye,
//mirabilos
--
I believe no one can invent

[2016-07-15 14:07] DavidBiesack commented on #49
See PR #67 **Change the implementation for org.json to one with a more open license**
This uses an API compatible clean-room implementation of the org.json classes, so the impact is much lower than switching to Jackson. While this still makes it more difficult to use JSONassert with other tools that use Jackson, it is possible and the license would not be a problem.

If that PR is merged, I'll clo

[2016-07-19 08:00] alessiostalla commented on #3
Uhm... +1? Please? ;)

[2016-09-14 19:08] solvingJ opened #68 "Feature Request - Compare JSON Structure but not "Leaf Values""
Comparing JSON strings that have timestamps is a fundamental challenge for some unit testing scenarios.  It would be very nice if there was an option that was "extra-non-strict" that simply validated all the same keys existed in a nested structure, but ignored their values.

I have not found any library that can do this natively.  JSONassert is the closest I've found. If anyone knows of another li

[2016-09-14 19:12] #68 closed

[2016-09-14 19:12] solvingJ commented on #68
Duplicate to https://github.com/skyscreamer/JSONassert/issues/15

[2016-09-14 19:22] solvingJ commented on #15
+1 for partial ignore.

For what it's worth, in our case, something like what @praveen133t suggested would be best.  Use instanceof to match any actual value types (strings/numbers/nulls/bools/etc or !array and !object) and then return skip the value comparison.  Also as originally suggested, an extra boolean flag on the original signature for "comparevalues" seems the most simple, albeit not very

[2016-10-04 13:42] sbuisson opened #69 "cannot compare object with empty field"
If, in two compared object, two field have an empty field, then there is an error:

the issue is, you can do a get on an empty field of a Json object. You need to check first if it's not empty.

[2016-10-15 21:17] gvt commented on #44
+1

[2016-10-20 11:29] Naveen1836 commented on #15
Hi,

Apologies for asking same question again.

I have same requirement and have been googling from long time. i have read the comments but couldnt understand if the issue is fixed, or trying with some solution?

if fixed, can some one please let me know how to ignore fields.

[2016-10-20 11:31] praveen133t commented on #15
@Naveen1836  : Pls see my reply (two posts above yours). I was able to implement something that way

[2016-10-20 11:47] Naveen1836 commented on #15
@praveen133t:
Can you send me the code, i mean class which you are extending that code to naveenavula1989@gmail.com

[2016-10-20 15:08] Naveen1836 commented on #2
Hi,

i have array of arrays, but the child arrays order is also not consistent . How do i validate ignoring order of child order.
Thanks in advance.

[2016-10-30 20:19] carterpage commented on #44
This makes sense. My apologies for getting so far behind on maintaining the project. Merging and cutting a new release now. 1.4.0 will be available on maven in a few days.

[2016-10-30 20:59] carterpage commented on #26
Replacing json.org with clean-room android JSON due to license issues in 1.4.0.

[2016-10-30 20:59] #26 closed

[2016-10-30 21:01] carterpage commented on #15
Anyone want to submit a PR for partial ignore? I can add to 1.4.1.

[2016-10-30 21:47] carterpage commented on #64
Not sure what you're actually comparing. Try printing out abc and abcd, create code compare the raw strings (String abc = "...") and add here. That will be easier to troubleshoot.

[2016-10-30 21:49] carterpage commented on #63
The methods are available in JSONAssert 1.3.0 and 1.4.0. I didn't have them under github releases, but that's fixed now.

[2016-10-30 21:49] #63 closed

[2016-10-30 21:53] carterpage commented on #55
I can't see the original, so I can't really compare. In your expected code the numbers are in quotes, so it's treating them as strings. From the error code, it appears your original doesn't have quotes and it's parsing them as #s.

[2016-10-30 21:53] #55 closed

[2016-10-30 21:54] carterpage commented on #64
Going to close, but feel free to reopen with the actual strings if you still haven't resolved this.

[2016-10-30 21:54] #64 closed

[2016-10-30 21:54] carterpage commented on #69
Please provide an example test code and reopen the issue.

[2016-10-30 21:54] #69 closed

[2016-10-30 22:16] carterpage commented on #54
Interesting. This is an issue with the JSON library itself, which parses your two strings as:

    FIRST: {"message":"Success","data":[],"wasSuccessful":true}
    SECOND: {"message":"Success","data":[],"wasSuccessful":true}

I agree, I'd expect it to throw a parse error. Since the trees that JSONObject passes to JSONAssert actually are identical, then it's WAI. If you want it fixed, you'd need to

[2016-10-30 22:16] #54 closed

[2016-10-30 22:18] carterpage commented on #52
Sorry, I let this linger for a year. Your approach is much clearer. Please feel free to submit a PR for review.

[2016-10-30 22:19] carterpage commented on #51
Pushed in 1.3.0.

[2016-10-30 22:19] #51 closed

[2016-10-30 22:20] carterpage commented on #49
Sorry for the delay. I've merged #67. I don't plan to support Jackson.

[2016-10-30 22:20] #49 closed

[2016-10-30 22:22] carterpage commented on #48
Fixed in #62. Could use a unit test, but it was simple enough I let it through.

[2016-10-30 22:22] #48 closed

[2016-10-30 22:28] carterpage commented on #46
I'm not exploring supporting other formats in JSONAssert, but you could try unwrapping your JSONP callback into JSON then compare it in JSONAssert.

[2016-10-30 22:28] #46 closed

[2016-10-30 22:28] #44 closed

[2016-10-30 22:36] carterpage commented on #43
If the second one is the expected value, and you use LENIENT or STRICT_ORDER modes, then this will pass. However, if the first one (with age:null) is the expected value, it will fail because technically speaking, the field actually exists in the JSON tree. Therefore, this is WAI. You can try jmayday's advice, or write a scrubber utility to remove null fields before passing it to JSONAssert.

[2016-10-30 22:36] #43 closed

[2016-10-30 22:40] carterpage commented on #42
I'm open to a pull request that does this.

A quick work-around could be to create a simple wrapper method that does this, and call it instead of JSONAssert directly.

[2016-10-31 00:12] puntogil opened #70 "Source files are without license headers"
Hi,
All java source files are without license headers.
Please, confirm the licensing of code and/or content/s, and add license headers.

https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Clarification

Thanks in advance
Regards

[2016-10-31 08:04] alexanderkjall commented on #55
This was a stupid error, I just verified with my code and you are right. Sorry for the extra work.

[2016-10-31 15:06] carterpage commented on #55
Np. Glad you got it figured out.

[2016-11-21 12:26] davedupplaw commented on #47
Good info above.  We just came across the same problem and came up with the same solution.
For the benefit of other googlers, here's some code to cut and paste, that's an example of overriding the DefaultComparator for allowing fuzziness on doubles in Json.

[code]

You can use the static assert to do the comparison:

[code]

[2016-12-11 09:53] DinaWork opened #72 "JSONAssert.assertEquels passes when expected empty json and received a non empty one"
`JSONAssert.assertEquals("{}", "{a:123}", false); // passes`

though `JSONAssert.assertEquals("{a:123}","{}",  false);`
and  `JSONAssert.assertEquals("{}", "{a:123}", true);`   do throw an exception

[2017-01-03 20:28] wilkinsona opened #73 "Move to using android-json means that JSONException is now checked"
The change made in https://github.com/skyscreamer/JSONassert/commit/2f3576c72a28db3292740e5c67ffbc856394af96 means that the JSONException that's pulled in transitively is now a checked exception. As a result, code that compiled against JSONassert 1.3 does not compile against 1.4.

[2017-01-17 16:22] JonyD opened #74 "wording (typo in quickstart.html)"
is:
    <p>It is recommended that you leave <span class="italics">strictMode</span>
      off, **so your will be tests less brittle**.

should be (something like this):
    <p>It is recommended that you leave <span class="italics">strictMode</span>
      off, so your tests will be less brittle.

[2017-02-13 12:10] pitschr opened #75 "RegularExpressionValueMatcher + Array = Bug? Missing Feature?"
During evaluation of JSON assert tools I figured out that seems `RegularExpressionValueMatcher` seems not working as designed. Here are some minimal codes:

Simpe test checking if the value `x` is a digit.

	// Working - example without Array
	JSONAssert.assertEquals("{\"entry\":{\"id\":x}}", "{\"entry\":{\"id\":1}}", new CustomComparator(JSONCompareMode.STRICT_ORDER, new Customization("entry.id",

[2017-03-16 15:59] yasin3061 commented on #72
This is because you have disabled the strict mode. This means that the actual String can have 'lesser' fields than the expected fields. `JSONAssert.assertEquals("{}", "{a:123}", true);`  should fail the test.

[2017-03-17 12:31] yasin3061 commented on #42
@carterpage, I am on it. Will create a PR.

[2017-03-17 13:43] carterpage commented on #42
Please ping this thread when ready. Thanks.

[2017-03-18 04:16] yasin3061 commented on #42
@carterpage - it's done. Please review the PR: https://github.com/skyscreamer/JSONassert/pull/78

[2017-03-19 14:01] #42 closed

[2017-03-19 14:53] yasin3061 commented on #72
@carterpage any comments on this one?

[2017-03-19 21:29] #70 closed

[2017-03-20 17:18] picimako commented on #74
This is fixed in [this commit](https://github.com/skyscreamer/JSONassert/commit/8af86e361dc13ad476fb1dd6900f24018e774ae5).

[2017-03-23 18:01] syakovyn opened #80 "Dependency on android-json breaks my code"
Hi,

My application functionality depends on org.json.JSONTokener#JSONTokener(java.io.Reader) that is provided by org.json:json:20140107.
After adding the dependency on JSONassert I have my functionality broken in the tests, but not in the application, because android-json doesn't have the method above.
Could this library be made dependent on a newer version of json? For example on org.json:json:2

[2017-03-23 19:37] syakovyn commented on #80
The request is invalid per https://github.com/spring-projects/spring-boot/issues/8706. Closing it.

[2017-03-23 19:37] #80 closed

[2017-03-28 17:30] motlin opened #81 "Support very strict ordering where an Object's keys must appear in the same order."
JSONassert's Objects are org.json.JSONObject, which store the name-value pairs in a HashMap, losing the order of the keys. This matches the json spec, which says that objects are unordered collections of key/values. However, I have tests where I want to make sure that *nothing* about an api changes, not even the order of keys in objects. I'm looking for something more strict than strict ordering.

[2017-05-16 12:22] gimmi opened #83 ""null" is valid JSON"
The following example:

[code]

result in this exception:

[code]

but `null` is valid JSON, even at the "root" level according to [THIS](http://stackoverflow.com/a/39124954/66629)

[2017-05-17 01:15] pavvu commented on #15
@praveen133t would you mind sharing the sample code how you Extended DefaultComparator class. Override checkJsonObjectKeysExpectedInActual method.

[2017-05-19 11:56] picimako opened #84 "Regex validation in json?"
Hi,

I have a scenario where the json that I want to compare against contains some fields with varying values like an asset path with a version number or a date in the path e.g.:
[code]

or

[code]

In the expected json file I would like to handle them as regex, so by defining the expected value as the following, and having the respective fields marked with something that reflects that it is a reg

[2017-06-19 17:34] westbury opened #85 "match fails due to Long/Integer discrepency in map keys."
I tried JSONassert this morning.  The first thing I did was to take something that was output from a test an an org.json.JSONObject structure.  I serialized this using toString(), and pasted that string as the expected value parameter to JSONAssert.assertEquals, passing the JSONObject as the actual value.
 Unfortunately the comparison failed, so I stepped into the code and found the problem in com

[2017-07-07 16:33] rpyaset commented on #84
@picimako you should be able to do this:

[code]

[2017-07-18 08:52] bkdonline commented on #15
Partial compare is a must have feature in the world of REST APIs. If we can merge this in time for 1.5.1, it would be very useful. @carterpage

[2017-08-03 06:48] RUKeDme opened #88 "Must the data be consistent？"
Hi,

I have two jsons. they have the same element,but have the different data.

now, i hope  ignore the data compare, the same element is just ok.

are there any options

thanks

[2017-09-14 17:46] neuzrui commented on #81
try https://github.com/java-json-tools/json-patch

[2017-09-19 11:16] mih-kopylov opened #89 "Add ability to choose JSON library"
There's a dependency in pom.xml

Not all projects use it.
Need to have ability to choose between this one and more popular like Gson & Jackson.

[2017-10-19 12:33] gimmi commented on #83
Is project dead?

[2017-10-20 13:12] semisiu opened #91 "More verbose diff view on assertion error"
We'd like to have an ability to provide more verbose, or generally custom json diff view on assertion error (such like un*x `diff -y` does).

For example, given two jsons:
[code]

and:
[code]

calling:
[code]

would throw an AssertionError with original message and additionally (optionally) more verbose diff:
[code]

More json-conscious diff:
[code]

[2017-10-20 14:28] Kamil-Benedykcinski commented on #91
Good idea!

[2017-11-02 05:11] lvc opened #92 "History of API changes for JSONassert"
Hi,

I'd like to share report on API changes and backward compatibility for the JSONassert library: https://abi-laboratory.pro/java/tracker/timeline/jsonassert/

The report is generated by the https://github.com/lvc/japi-tracker tool for jars at http://central.maven.org/maven2/org/skyscreamer/jsonassert/. The tool checks for API changes in the latest versions of the library according to the articl

[2017-11-17 17:18] benwaine commented on #15
I found my way here looking for partial ignore but after reading @ittiel's solution I implemented my own comparator that looked for specific place holder tokens and did a different type of value comparison.

Trying validate this:

[code]

[code]

[2017-12-19 23:42] JavaOPs commented on #15
Maybe it will be helpful: in my Spring controller tests I've made workaround for this problem: https://stackoverflow.com/a/47896806/548473

[2018-01-22 12:18] SrikarNanduri commented on #15
+1 for this feature - I have a requirement for this feature

[2018-01-23 05:32] SrikarNanduri commented on #15
I recently found this library **[JsonUnit](https://github.com/lukas-krecan/JsonUnit)** which has the exact functionality check it out

[2018-01-29 18:37] SebTardif opened #93 "Should not include third party class/namespace like org.json/JSONString"
This should be removed https://github.com/skyscreamer/JSONassert/blob/master/src/main/java/org/json/JSONString.java

We are getting this warning in our build:
[WARNING] Found duplicate and different classes in [org.json:json:1.0, org.skyscreamer:jsonassert:1.5.0]:
[WARNING]   org.json.JSONString

[2018-02-03 22:26] arundharmar commented on #37
I use this library and created an extended version for a custom JSON assertion that I needed. I have that jar created for updated library in [this](https://github.com/arundharmar/jsonxassert) location. Feel free to use it and to give me feedback on that.

[2018-02-03 22:28] arundharmar commented on #15
I use this library and created an extended version for a custom Partial JSON assertion that I needed. I have that jar created for updated library in [this](https://github.com/arundharmar/jsonxassert) location. Feel free to use it and to give me feedback on that.

[2018-02-06 13:13] rahuljawale opened #94 "No detailed error message when number of JSON Objects is high?"
I observed that when the number of JSON Objects is higher ( > 1500) the error message is lacks enough information. i.e. instead of getting `expected` and `actual` comparison, the error message only consists of `Could not find match for element` and the offending JSON Object.

After much of head scratching the issue was found to be missing attribute. :) . Is there a way we can enable deeper compari

[2018-02-14 12:44] VladimirStekmakh opened #95 "Invalid JSON comparison. Ignoring duplicated fields."
There is an issue with comparion of JSON with duplicated fields:

[code]

This test has passed but it don't looks like expected behavior.

The issue is actual for Jackson serializer in java. It behaves incorrect in some cases and I would like to check it in my tests.

[2018-02-14 14:41] VladimirStekmakh commented on #95
I suggest to use 'org.json:json:20180130' instead of 'com.vaadin.external.google:android-json:0.***'.

[2018-02-14 16:52] VladimirStekmakh commented on #95
https://github.com/skyscreamer/JSONassert/pull/96

[2018-02-22 07:20] sjoerdtalsma opened #97 "Hamcrest Matchers?"
Rationale:

Let me begin by saying I love the `JSONassert` library as it has saved me lots of time reinventing the wheel.
I also love hamcrest style asserts. To me they are more fluent than 'classic' assertions.
Some people online [seem][1] to [agree][2].

I would love to see some hamcrest-style matchers added to this library.
In case you are too busy yourself, I am willing to create a pull-reques

[2018-03-01 10:51] xp-vit opened #99 "Is there any reason why lib depends on android-json?"
Hi,
Thanks a lot for your library. I have following question:
Library has dependency:
<dependency>
            <groupId>com.vaadin.external.google</groupId>
            <artifactId>android-json</artifactId>
            <version>0.0.20131108.vaadin1</version>
</dependency>

1. Why do we support on android-json?
2. Can we depend let's say on: compile group: 'org.json', name: 'json', last version ?

[2018-03-01 11:38] Stephan202 commented on #99
@xp-vit, for context see #44 and #67. There's also #89. (This is mostly an FYI, I agree that the current state of affairs is annoying for projects that have strict classpath control.)

[2018-03-07 00:46] marcocamacho opened #100 "Comparing dates with timezone"
How do you compare dates?
The json contains field `"utctimeleft": "2018-03-05T00:00:00+02:00",`
[code]
But depending where I run the test (locally or server) it gets different timezone (-05:00 vs +2:00), then it fails in one but not in the other.

[2018-03-20 14:34] #84 closed

[2018-04-24 22:08] smoosh911 commented on #23
This issue still exists when you use the assertEquals(JSONObject, JSONObject) overload.
[code]

[2018-06-08 15:02] bakomchik commented on #91
Hi folks, it would be cool
if you add information about type of expected and got objects
here
```org.skyscreamer.jsonassert.JSONCompareResult#describe```
because sometimes we got :
[code]
in case of different types

[2018-06-15 14:09] praste commented on #93
+1
This is creating class name conflicts and our builds are failing.

[2018-06-19 07:57] vkorobkov opened #101 "No detailed message when comparison of JSONString fails"
When two `JSONString` objects are compared with `org.skyscreamer.jsonassert.JSONCompare#compareJson`
then `org.skyscreamer.jsonassert.JSONCompareResult` does not have an error message with actual/expected values.

That results with unclear failures of unit tests(in my example it is junit 5):
![image](https://user-images.githubusercontent.com/12804703/41584064-f6c671e2-73ae-11e8-9eec-2b8e618ab93c.p

[2018-06-19 08:36] vkorobkov commented on #101
I found a temporary dirty workaround for Spring + MockMvc + Groovy kind of tests:

1. Extend `ResultActions` with a custom matcher using [groovy extension methods](http://mrhaki.blogspot.com/2013/01/groovy-goodness-adding-extra-methods.html)
[code]
This matcher adds a dummy root element("body") for expected/actual JSON, so these are not JSONStrings anymore.

2. And the tests look like
[code]

Test

[2018-06-22 10:34] drewhemm opened #102 "getFieldMissing() and getFieldUnexpected() return empty lists"
I am comparing two JSON objects and the newer contains fields not present in the older; however, getFieldUnexpected() returns an empty list. Is this a problem with the code, or am I doing something wrong?

getFieldFailures() works fine where there are diffences between fields with matching names.

[2018-06-22 14:02] drewhemm commented on #102
Aha, I stepped through the code and realised that the type of comparison performed varies on the type of objects being compared. As I was comparing JSONArrays, the code that generates the missing and unexpected fields is skipped. This functionality is confined to comparing JSONObjects.

Not sure I remember seeing this important distinction in the documentation?

[2018-07-26 08:12] Kamil-Benedykcinski opened #103 "JSONCompare.compareJSON should fail on crashed json"
Snippet below fails:(

[code]

[2018-08-16 07:19] anantharaman93 opened #105 "Issue when comparing JSONArray if any value is null"
Hai,
I am getting the following exception when asserting 2 JSONArray objects if any of its value contains null. The code I used is

[code]
This causes exception

	at org.json.JSONArray.get(JSONArray.java:194)
	at org.skyscreamer.jsonassert.comparator.JSONCompareUtil.allSimpleValues(JSONCompareUtil.java:139)
	at org.skyscreamer.jsonassert.comparator.DefaultComparator.compareJSONArray(DefaultCompara

[2018-08-17 05:23] 60secs opened #106 "Support in-line regular expression for matching (e.g dates)"
When matching on dates with generated time components assertions become very problematic.
e.g. Sometimes you want to assert an iso8601 datetime is on a particular date and you don't care about the time component.

Custom comparators are cumbersome and are field/position dependent.
Instead if regular expressions can be used in-line for the expected JSON, assertions can remain sparse and general pur

[2018-09-11 11:16] MatejTymes opened #107 "Failing to compare big numbers"
This assertions should fail, but they don't:

JSONAssert.assertEquals(
        "{ \"value\": 1234567890.1234567890123456 }",
        "{ \"value\": 1234567890.1234567000000000 }",
        true
);
JSONAssert.assertEquals(
        "{ \"value\": 12345678901234567890123456 }",
        "{ \"value\": 12345678901234567800000000 }",
        true
);

[2018-09-13 17:10] 60secs opened #108 "Include expected and actual in error message when arrays are not the same size."
Desired: failure message includes expected and actual json

Actual: Error message only says they aren't the same size.

see:
https://github.com/skyscreamer/JSONassert/blob/830efcf546d07f955d8a213cc5c8a1db34d78f04/src/main/java/org/skyscreamer/jsonassert/comparator/DefaultComparator.java#L74

https://github.com/skyscreamer/JSONassert/blob/830efcf546d07f955d8a213cc5c8a1db34d78f04/src/test/java/org/s

[2018-09-17 12:08] accantelliw opened #109 "Error in JSONArray comparison when Customizations are specified"
I'm facing an issue comparing 2 json ignoring the differences for some fields (i.e date fields, like createdAt, updatedAt).

So, here is json1:
[code]
and here is json2:
[code]
I'm comparing using the following statement:

[code]

So, the expected behaviour is that the assertion should be true - that is, the 2 json should be considered equals.
Instead, the comparison failed with the following exce

[2018-09-18 09:10] accantelliw commented on #109
Going further with analysis, I figured out that the problem is in the way 2 JsonArray of Objects are internally compared.

The array comparison made by [compareJSONArrayOfJsonObjects](JSONassert/src/main/java/org/skyscreamer/jsonassert/comparator/AbstractComparator.java) searches for an unique key on "expected" JSONArray and than it checks that the same is an unique key for "actual" JSONArray.
For

[2018-10-25 21:20] maresja1 commented on #85
Yes! It is a bit rubish - tried the library for a first time and came to this the same day. There is no development here either. Wonder how it became recommended library in so many places like Baeldung.

[2018-11-24 06:24] Alexander1972 opened #112 "JSONCompareResult > failed object is missing in FieldFailures ArrayList, but exist in the getMessage()"
<img width="1143" alt="bugjsonasseet" src="https://user-images.githubusercontent.com/746639/48965263-86189880-ef6e-11e8-8633-740abe41bff3.png">

[2018-12-14 15:11] m-sroka opened #113 "Should fail when characters added after json closing tags"
JSONCompare.compareJSON("{}", "{}", JSONCompareMode.STRICT)._success -> true
JSONCompare.compareJSON("{}", "{}**a**", JSONCompareMode.STRICT)._success -> true
JSONCompare.compareJSON("{}**a**", "{}", JSONCompareMode.STRICT)._success -> true
JSONCompare.compareJSON("{}**b**", "{}**a**", JSONCompareMode.STRICT)._success -> true

Same when root of json is array:
JSONCompare.compareJSON("[]", "[]**a**

[2019-01-09 19:09] javydreamercsw commented on #88
I have a similar issue where there are some fields I would like to be ignored. I don't care about some fields that might have variable data that are hard to know in advance as they are populated by the service.

[2019-01-22 15:10] filfreire opened #114 "Add JSONObject expected and actual comparison"
It seems there is not current support for comparison of two `JSONObject`s.

We could add support for it:
[code]

[2019-03-20 20:03] OneGeek opened #115 "JSONAssert cannot handle numbers of differing precision in an array of objects if is the only property that differs across the items"
According to JSONAssert `{"Foo":1} == {"Foo":1.0}`, but  `[{"Foo":1}] != [{"Foo":1.0}]`. It seems to be deciding to use the number as a "unique key" to determine object identity within the array, which is an invalid assumption in this case.

I would expect JSONAssert to at least parse the value of each field when deciding if they are unequal across all objects in the array (and thus suitable to be

[2019-03-25 08:08] antygravity commented on #100
As a workaround You can add to Your test class:
(example in Kotlin)
`init {
        System.setProperty("user.timezone", GMT+2)
    }`

[2019-04-19 16:16] ntherrien opened #116 "JSONassert introduces split package issues in any Java 9+ project using it"
java.lang.module.ResolutionException: Modules android.json and jsonassert export package org.json to module tomcat.embed.core

Because JSONAssert has a dependency on jsonassert, and because it defines JSONString in the org.json package (same that android.json uses), using JSONAssert will always cause split package issues in any Java 9++ programs that use it.

Simple solution is to change the JSONS

[2019-04-19 16:28] ntherrien commented on #116
Would you guys be open to an update of this project to support Java 11?   I can volunteer some time to perform the modularization.

Does your build server support Java 11 builds?

[2019-04-24 18:26] Obochuk opened #117 "Multiple level array customization fail"
When I have json with structure like this:
{
   "groups":[
      {
         "name":"someName",
         "members":[
            {
               "lastLoginDate":"someDate"
            }
         ]
      }
   ]
}

trying to ignore value "lastLoginDate" is not working:

JSONAssert.assertEquals(expectedJSON, actualJSON, new CustomComparator(Mode.LINEAR,
new Customization("groups[*].members[*].lastLog

[2019-05-15 11:09] haster commented on #116
I am running into the same issue. Right now, JSONAssert is not usable in a jigsaw context due to this split-package issue.

[2019-05-22 04:16] VegetaPn commented on #15
+1 for this feature. Any progress on this feature ?

[2019-06-13 16:09] JithuPaul24 commented on #3
+1

[2019-06-13 17:57] WalidBounouar commented on #3
+1

Quick note: I did quick test, putting `JSONAssert.assertEquals` in a TestNG test and it somewhat worked. Test failed (as expected).
Error message didn't show properly with Eclipse pluggin, but was recorded correctly in `testng-results.xml` and showed up correctly in console when running a `mvn test`.
Don't know if there is "unofficial" TestNG support (or if I got lucky), but official support w

[2019-07-03 12:16] Ripul89 commented on #15
Hi All, I am not getting dependency for JAConstraint

[2019-07-10 14:54] marciotedesco commented on #109
I am having the same issue. I see you have created a patch for it but not yet merged. Any workaround you found?

[2019-08-12 17:01] alessiostalla commented on #3
+1

[2019-09-03 21:15] guptavv-vi commented on #109
Hey!! Was the above issue resolved as I am getting the same issue, unique key is part of ignore customisation but failing because it becomes unique key in JSON array comparison
[Temp workaround:] I have fetched the JSON array element individually and run the comparison again but this is redundant code and not efficient

[2019-09-11 19:39] jaroslawbanas commented on #109
Hi, I have similar issues:
 I trying to compare two complex JSON like
1)
`{
"id" : "1"
childs [
{
"id"  :"str1"
"dataId" : 190
}
]
}`

2)
`{
"id" : "1"
childs [
{
"id"  :"str1"
"dataId" : 2
}
]
}`

When I have added new Customization(""childs [*].dataId"", (o1, o2) -> true)
Then I got error:

Expected: a JSON object
     but none found
 ; childs[dataId=2]
Unexpected: a JSON object

Any chance to r

[2019-09-11 19:45] jaroslawbanas commented on #109
Do you know what is the effects of those change? The whole test can be invalid and not checked correctly JSON if you don't do it intentionally.

[2019-09-11 23:35] guptavv-vi commented on #109
Making it leinent make the comparison pass even if actual Json has extra nodes as this make the comparison one way expected elements should be there in actual but if actual has more than expected it is not considered a assert fail. It considers the JSON extensible, so depending on your need it may or may not make sense to make it leinent

[2019-11-15 01:38] madurangasiriwardena commented on #3
+1

[2019-12-11 19:25] SElab2019 opened #119 "Updating from 1.2.3 to 1.5.0 breaks"
When I try to upgrade Jsonassert from 1.2.3 to version after 1.4.0. The following code breaks.
[code]

The code should pass. But it throws an error:
[code]

[2019-12-27 16:53] dalewking opened #120 "Should be a compare mode that allows additional fields but only if they are null"
Strict mode says you can only have these given fields. Would like an additional mode that says it is OK to have more fields, but they cannot be non-null.

[2020-01-28 12:58] mlaksh89 commented on #109
Any Update or work around for this issue. I have to compare a big json response by skipping a lot of junk attributes. Does anyone already has a better solution to this problem.

I get error below when I try to skip attribute..

      java.lang.AssertionError: FinancingProducts.FinancingProduct[AdministrationType=1106].TariffCalculations.TariffCalculation[TariffCalculationId=uuidd9de7bef551b46139ac

[2020-02-05 21:18] dilipsonu commented on #15
+1 for this feature

[2020-02-27 13:55] kjetester commented on #109
I have the same issue, I guess.
I'm trying to compare two JSON-files with such code:

`JSONAssert.assertEquals(expected, actual, new CustomComparator(JSONCompareMode.LENIENT, new Customization("title", (o1, o2) -> true)));`

And all the time I'm getting errors due to JSON has a different order in their identical objects :-(
Underline that I'm using the LENIENT Compare Mode and that objects inside

[2020-03-20 21:17] aluminais commented on #3
+1

[2020-05-05 22:38] vayaszsolt opened #121 "JsonAssert assert arrays different size"
I have a usecase where is required to assert two json object which has an array among others fields. As the documentation says the JSONCompareMode.Lenient can apply only for objects.
Somebody is aware about a custom comparator that is handling my usecase?

[2020-06-03 16:29] veluguri opened #122 "jsonassert not working after project jre is updated to openjdk14.0.1"
JSONAssert.assertEquals(expectedJson, actualJsonObj ,
new CustomComparator(JSONCompareMode.STRICT,
				new Customization("apiTimestamp", (o1, o2) -> true)));
the above statement was working fine with JRE1.8  , but i recently had to move to openjdk14.0.1  and the above statement giving error saying "change project compliance to JRE1.8"

how to resolve this issue ?
i am using

<dependency>
	    	<gr

[2020-06-04 00:17] Bala2103 commented on #93
+1
The compilation is passing in my case, but during run time I am getting the following error
java.lang.NoSuchMethodError: org.json.JSONObject.put(Ljava/lang/String;Ljava/util/Collection;)Lorg/json/JSONObject;

Somehow the `org.json` used in this library is given priority and end up having the above error during runtime.

[2020-06-23 12:32] fnh-ssb commented on #122
when can JSONassert support java module systems?

[2020-07-30 12:43] raderio opened #124 "STRICT_ORDER + NON_EXTENSIBLE"
In some cases we need to verify that the list order and also that all the fields are covered, so, an option like both STRICT_ORDER + NON_EXTENSIBLE will cover this case.
Is it possible to add such new option?

[2020-08-10 06:43] yayayahei commented on #117
Got the same issue on ubuntu jdk 11.0.8. On teammate's Mac no issue.

I've resolve this problem to replace JSONCompareMode.LENIENT to JSONCompareMode.STRICT.

[2020-11-11 17:40] rohitkrishna-marneni commented on #109
Making it as Strict worked for me.

[2020-11-11 17:46] rohitkrishna094 commented on #109
Making it strict worked for me.

[2020-11-16 10:25] AElMehdi opened #127 "Should consider the JSON to be invalid when adding a "," after a closing object tag in an array of objects"
The following example should be considered as an invalid JSON, yet it passes and is seen as if we have 2 values in the array.
[code]
It returns the following error:
`java.lang.AssertionError: props[]: Expected 1 values but got 2`

It can be linked to the following [issue](https://github.com/skyscreamer/JSONassert/issues/113).

[2020-11-16 10:29] AElMehdi opened #128 "Handle plural in error messages"
That's more of a nice to have
java.lang.AssertionError: props[]: Expected 1 value**~s~** but got 2

[2020-11-17 21:12] meh98943 commented on #3
+1

[2020-11-18 16:53] carterpage commented on #3
I'm not investing much time into this for direct development, but would entertain a well-written PR.

[2021-01-04 12:09] pradipta opened #129 "Compare mode but ignore a list of provided keys"
Few dynamic fields like currentTime fails with static expected String. Could have a mode where I can ignore a set of keys. Instead of removing them from expected altogether.
Please close if I have missed it and it exists.
If not, open to contributions?

[2021-01-12 00:46] rehevkor5 commented on #83
An example (partial) stack trace due to this problem happening in Spring controller tests:

[code]

[2021-01-22 14:42] OneGeek commented on #115
For what it's worth, this issue just bit me again.

[2021-02-03 07:44] LightingTom commented on #121
Can you please share your usecase that will cause the error? Thank you!

[2021-02-16 14:03] TristanPerry commented on #124
@raderio isn't that what `JSONCompareMode.STRICT` offers (http://jsonassert.skyscreamer.org/apidocs/org/skyscreamer/jsonassert/JSONCompareMode.html) ?

 * Extensible = false, so all fields will have to be covered.
 * Strict order = true, so the list order is verified.

[2021-03-03 06:18] ayeshasilvia commented on #109
Thank you! It worked for me.

[2021-03-11 06:05] kiptix commented on #117
I've resolve this problem by nesting an arrayValueMatcher. So maybe it's not a bug, but should be better dokumented...

[code]

[2021-03-12 13:22] hezonghan opened #130 "assertEquals(...) may throw NullPointerException when given invalid JSON string"
The following line,
`JSONAssert.assertEquals("[{id:1},]" , "[{id:1},{}]" , true);`,
which inputs an invalid JSON string "[{id:1},]" to assertEquals,
will throw `java.lang.NullPointerException`.
(I think the string is invalid because the JsonArray contains no more element after a comma.)

By the way, the following line,
`JSONAssert.assertEquals("[{id:1},]" , "[{id:1},{}]" , false);`,
throws `org.js

[2021-03-27 13:18] Lu-Jichen commented on #127
I would like to try to work on this issue.

[2021-03-27 13:18] Lu-Jichen commented on #107
I would like to try to work on this issue.

[2021-03-27 13:18] Lu-Jichen commented on #88
I would like to try to work on this issue.

[2021-03-27 13:18] Lu-Jichen commented on #115
I would like to try to work on this issue.

[2021-04-19 16:05] Kriska commented on #109
STRICT is not suitable in my case. Is there a official recommendation or fix?

[2021-04-25 14:58] shiye1999 commented on #103
The json auto add " to the json string.
If i use another lib of json like fastjson,the compare would fail.

[2021-05-08 05:07] whitecat315 commented on #100
I would like to try to work on this issue.

[2021-05-08 09:18] whitecat315 commented on #113
I would like to fix this issue

[2021-05-10 05:11] LightingTom commented on #129
I would like to work on this issue

[2021-05-16 05:35] pradipta commented on #129
@LightingTom Doesn't seem like the maintainer is active on the issues any more. I would probably fork this out and work on things.

[2021-05-16 10:38] LightingTom commented on #129
@pradipta Thanks for the reply. But this is a part of our university project, I still need to do the pull request and please ignore if you're not interested.

[2021-05-21 10:56] Crayon-new commented on #127
@AElMehdi I think it is caused by the first character is "\"". So this json lib will parse it as JSONString. Maybe I will solve this bug.

[2021-05-21 14:40] shiye1999 commented on #89
I want to work on this issue.
But how to add the ability of choosing JSON librrary?
import diffrent jar package will double the code

[2021-05-21 21:56] AElMehdi commented on #127
@Crayon-new Cool! Have fun! :)

[2021-05-24 02:57] ChuXiyes commented on #127
I would like to work on this issue

[2021-07-09 23:58] janimationd commented on #109
Another version of this method which allowed us to specify the path to the field to use as the unique key would work fine for my use case.

[2021-10-28 11:04] PavelLiakh opened #148 "Anonymous(unnamed) arrays are compared strictly and it not customizable"
JSONAssert v1.5.0

**Given**

I have JSONs with unnamed arrays inside with differences in autogenerated **id** field:

 ___actual: `[
  {
    "id": 9901,
    "value": "foo"
  },
  {
    "id": 9902,
    "value": "bar"
  }
]`

expected: `[
  {
    "id": 1,
    "value": "foo"
  },
  {
    "id": 2,
    "value": "bar"
  }
]`

**When**

I comparing them, I want to compare them ignoring the match by the

[2021-12-08 00:39] zihanxu3 commented on #130
I will take this.

[2021-12-08 02:27] AishiHuangUIUC commented on #121
I will try to work on this.

[2021-12-09 05:48] ericssy commented on #85
Can you show us a sample test case? I don't quite understand why you can use Integer or Long as keys, since JSON only allows String to be used as keys.

[2022-01-05 14:25] erwinc1 opened #155 "Comparing JSONArrays does not behave like expected"
I hope below code is self explanatory. If not:

I am composing a new JSONArray from String a and String b combined in a list. Then I am composing a new JSONArray from a single string which contains a and b (in a different order though)

When I do a JSONAssert on both JSONArrays it tries to compare {"a":"b"} to a JSON object.

Console output: Note the backslashes in the first print line
[code]

Cod

[2022-03-06 23:21] jfox13-nd opened #161 "Custom Comparators do not behave as expected when dealing with certain regular expressions that contain JSON Arrays"
When using a CustomComparator based on a RegularExpressionValueMatcher to match values of the type `foo.bar[*].baz.qux` the  CustomComparator will be disregarded in the `NON_EXTENSIBLE` and `LENIENT` modes.

Here is a minimal example that will throw two AssertionErrors:
[code]

I have created a PR that fixes this edge case:
#160

[2022-05-12 03:23] coney opened #162 "Release a new version with latest junit dependencies"
The latest version fo jsonassert was release in 2017 and some dependencies was out of date. e.g. junit dependency has vulnerbility detected. check this: https://mvnrepository.com/artifact/org.skyscreamer/jsonassert/1.5.0

Maybe we could relese a new version with updated dependencies ?

[2022-05-24 09:03] akshayamaldhure opened #163 "Asserting softly"
Currently, if I use `JSONAssert.assertEquals(...)` and if there's an assertion error, `AssertionError` will be thrown and the code will exit. However, I want my TestNG `@Test` to do this in loop for several data sets and collect all the assertion errors and throw `AssertionError` is there are one or more assertion errors (similar to TestNG's [SoftAssert](https://www.javadoc.io/doc/org.testng/testn

[2022-05-25 11:30] bitkid commented on #73
yeah thats super ugly .. they should be wrapped into a runtime exception

[2022-05-25 11:32] bitkid opened #164 "Don't let the assertion throw a checked exception"
still like that in 1.5.0

[2022-06-22 03:33] jasper-prive commented on #47
@davedupplaw your comment helped me a lot, it was exactly what I needed, thanks!

Please correct me if I am wrong but I found an even shorter solution:

[code]

[code]

[2022-06-22 03:35] BARJ commented on #47
@davedupplaw your comment helped me a lot, it was exactly what I needed, thanks!

Please correct me if I am wrong but I found an even shorter solution:

[code]

[code]

[2022-06-26 16:02] suyamamadushan commented on #155
Build JsonObject List and then pass it.
var a = "{\"a\":\"b\"}";
        var b = "{\"c\":\"d\"}";
        var res = "[{\"c\":\"d\"},{\"a\":\"b\"}]";

        List<JSONObject> jsonObjectList = new ArrayList<>();
        jsonObjectList.add(new JSONObject(a));
        jsonObjectList.add(new JSONObject(b));

        final var jsonElements = new JSONArray(jsonObjectList);
        final var resultJsonAr

[2022-09-26 15:30] claudemartin opened #165 "Input not validated to be valid JSON, inconsistent behaviour on certain number values"
I just saw that we have unit tests in a project that test JSONassert because of the inconsistent behaviour. I will abstain from explaining why unit tests (aspecially those wih special cases) are important to get correct and consistent code. Instead I just report the problems I found here.

One thing is that NaN seems to be allowed sometimes but rejected in other cases. I know that at least `new JS

[2022-09-28 12:39] mgohin commented on #100
Any chance to have a better solution ? :D

[2022-11-11 23:21] zrbrown commented on #116
[I submitted a PR for this](https://github.com/skyscreamer/JSONassert/pull/167). There are some other things that would be nice in a potential new major version, like bumping the source/target version (6 doesn't even work with Maven anymore), and even adding a module-info file. I'd be happy to help with these as well!

[2022-11-29 07:36] downloadpizza commented on #109
For anyone coming to this later like me and trying to figure out what is going on:
For some reason this library fails some comparasion when not using strict ordering.

Yes, that means lenient ordering which should make it exclusively easier to pass makes it fail. Use `STRICT` or `STRICT_ORDER` if you want your arrays to work as expected.

[2022-11-29 08:13] downloadpizza commented on #23
@smoosh911 may want to open this as its own issue, I've also run into it but don't have the time to open one right now. If I remember then I will open an issue at some point.